.card{
    width: 300px;
    margin: 100px auto;
    border-radius: 5px;
    text-align: center;

}
.mat-card-title{
    text-align: center;
    color: #066999;
}

.registerBtn{

  background-color: #066999;
    color: white;
}
.error{
    color: red;
    padding: 8px;
}