<table class="responstable">
<tr>
  <td id="nice" colspan="5">
    <mat-form-field class="form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text"/>
  </mat-form-field>
  <a href="#"><mat-icon id ="searchicon">search</mat-icon></a>
 
  <button id="addcomputericon" mat-icon-button (click)='oopenPopupAdd()'><mat-icon id="addbtn">add_circle_outline</mat-icon></button>
</td>
</tr>
  <tr>
    <th><input class="selectall" type="checkbox"/>
   <mat-icon id ="deleteicon">delete_forever</mat-icon></th>
    <th data-th="Driver details"><span>Computer name</span></th>
    <th>Introduced</th>
    <th>Discontinued</th>
    <th>Company</th>
  </tr>
  
  <tr *ngFor='let computer of computerList'>
    <td><input type="checkbox"/></td>
    <td><a href ="#"  class="modifyicon">{{computer.computerName}}<mat-icon id="id" aria-hidden="false" aria-label="Example home icon">create</mat-icon></a></td>
    <td>{{computer.introducedDate}}</td>
    <td>{{computer.discontinuedDate}}</td>
    <td><app-company  *ngIf="!!computer.companyDTO" [company]="computer.companyDTO" >
    </app-company></td>

  </tr>

  <tr>
  <td id="" colspan="5">
    <div class="pagination">
      <a [routerLink]="" (click)="paginatedList(1)">&laquo;&laquo;</a>
      <a [routerLink]="" (click)="getPreviousPage()">&laquo;</a>
      <a [ngClass]="page.currentPage == pageNumber ? 'active': ''" *ngFor='let pageNumber of listPages' [routerLink]="" (click)="paginatedList(pageNumber)">{{pageNumber}}</a>
      <a [routerLink]="" (click)="getNextPage()">&raquo;</a>
      <a [routerLink]="" (click)="paginatedList(nbPage)">&raquo;&raquo;</a>
  </div>
  </td>
</tr>
</table>

