
.toolbar {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

h1 a{ 
    font-size: 250%;
    text-decoration: none;
    color: inherit;
font-family:Georgia, 'Times New Roman', Times, serif ;
text-shadow: whitesmoke 1px 3px 5px;}
h1{ padding-top: 70px;}


h1:hover{
  display: block;
   color: rgb(214, 232, 243);
}

#img1 {
    float: left;
    width: 8%;
    margin-left: 3%;
    margin-top: 1%;

}

.logout{ 
  float: right;
  color: white;
  background-color: #055279;
  border: 1px solid white;
}
.logoutBox{
  margin-right: 120px;;
}