<div>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Computer Name</mat-label>
      <input name="name" required [(ngModel)]="createdComputer.computerName" matInput />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Introduction date</mat-label>
      <input name="introduced" type="date" matInput [(ngModel)]="createdComputer.introducedDate" />
    </mat-form-field> <br />
    <mat-form-field appearance="fill">
      <mat-label>Discontinuation date</mat-label>
      <input name="discontinued" type="date" matInput [(ngModel)]="createdComputer.discontinuedDate" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select name="company" matInput [(ngModel)]="createdComputer.companyDTO">
        <mat-option>no company</mat-option>
        <div>
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company.companyName}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <br />
    <input type="submit" id="submit" value="Submit" />
    <button mat-button style="float: right;color:white;background-color: rgb(107, 107, 241);" (click)='onClose()'>Cancel</button>
  </form>
</div>
