<div>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label i18n="Computer name|computer display">Computer Name</mat-label>
      <input name="name" required [(ngModel)]="createdComputer.computerName" matInput />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label i18n="Introduction date|computer display">Introduction date</mat-label>
      <input name="introduced" type="date" matInput [(ngModel)]="createdComputer.introducedDate" />
    </mat-form-field> <br />
    <mat-form-field appearance="fill">
      <mat-label i18n="Discontinuation date|computer display">Discontinuation date</mat-label>
      <input name="discontinued" type="date" matInput [(ngModel)]="createdComputer.discontinuedDate" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label i18n="Manufacturer">Company</mat-label>
      <mat-select name="company" matInput [(ngModel)]="createdComputer.companyDTO">
        <mat-option>no company</mat-option>
        <div>
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company.companyName}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <br />
    <input type="submit" id="submit" value="Submit" />
  </form>
</div>