.card{
    width: 300px;
    margin: 100px auto;
    margin-bottom: 235px;
    border-radius: 5px;
    text-align: center;

}
.mat-card-title{
    text-align: center;
    color: #066999;
}

.loginBtn{
    background-color: #066999;
    color: white;
}

.error{
    color: red;
    padding: 8px;
}