<mat-card class="example-form">
    <mat-card-content>
        <mat-card-title>Sign in</mat-card-title>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="hidden"/>
            <div *ngIf="hidden.hasError('loginerror')">
                Unknown login/password combination
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Username: </mat-label>
                <input matInput type="text" formControlName="username" required/>
                <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
                <mat-label>Password: </mat-label>
                <input matInput type="password" formControlName="password" required/>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <br/>
            <button mat-raised-button color='primary' type="submit" [disabled]="!formGroup.valid">Login</button>
        </form>
        <button mat-raised-button color='primary' type='button' [routerLink]="['/register']">Create an account</button>
    </mat-card-content>
</mat-card>
